@import 'color-palette.css';

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

:root {
    --height: 960px;
    --width-wide: 1708px;
    --width-narrow: 640px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-bg-bold);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    height: 100%;
    width: 100%;
    max-width: var(--width-wide);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--color-secondary);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.wide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--height);
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.5);
}

#banner-homepage {
    flex: 16;
    height: 100%;
    color: var(--color-text);
    text-align: center;
    background-color: var(--color-primary);
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#banner-homepage img {
    width: 80%;
}

#banner-homepage .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 20% 3rem;
    color: var(--color-text-light);
}

#founder-box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error,
.success {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin: 0 0 3rem;
    color: var(--color-text-light);
}

.error::before,
.success::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.error::before {
    background-image: url('../images/icons/error-red.png');
}

.success::before {
    background-image: url('../images/icons/success-white.png');
}

.links-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.links-wrapper .link {
    text-decoration: none;
    padding: 1rem;
    width: 220px;
    background-color: var(--color-bg);
    color: var(--color-text);
    border-radius: 50px;
    transition: all 0.3s ease;
}

.links-wrapper .link:hover {
    background-color: var(--color-bg-subtle);
    transform: scale(1.02);
}

.links-wrapper .link:visited {
    color: var(--color-text);
}

.links-wrapper .link:hover::after {
    width: 0;
}

#banner-homepage .declaration {
    font-style: italic;
}

.credentials-wrapper {
    flex: 9;
    height: 100%;
    position: relative;
}

.credentials {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
}

#login {
    width: 100%;
    height: 100%;
}

#register {
    position: absolute;
    top: 0;
    left: 90%;
    height: 100%;
    width: 100%;
    transition: left 1s ease;
}

#register:hover {
    left: 0;
}

#register-button {
    position: absolute;
    top: 50%;
    left: 0;
    color: var(--color-text);
    transform: translateY(-50%);
    transition: all 1s ease;
}

#register:hover #register-button {
    opacity: 0;
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form h2 {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-size: 2rem;
}

.form-banner h1 {
    color: var(--color-text-light);
}

.form-input {
    background-color: var(--color-primary-subtle);
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    user-select: none;
}

.form-input label {
    height: 100%;
}

.form-input label img {
    height: 100%;
}

.form-input input {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.form-input input:focus {
    outline: none;
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

a {
    color: var(--color-secondary-subtle);
    text-decoration: none;
    position: relative;
}

a:visited {
    color: var(--color-secondary-subtle);
}

a::after {
    content: '';
    position: absolute;
    top: 1.25rem;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-secondary-subtle);
    transition: all 0.3s ease;
}

a:hover::after {
    width: 100%;
}

input[type="submit"] {
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    border: none;
    border-radius: 50px;
    padding: 1rem;
    width: 220px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
}

input[type="submit"]:hover {
    background-color: var(--color-secondary-bold);
    transform: scale(1.02);
}

.reset-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: .25rem;
}

.reset-wrapper img {
    height: 1.25rem;
    transition: transform 1s;
}

.reset-wrapper:hover img {
    animation: rotate 1s forwards;
}

.reset-wrapper input[type="reset"] {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-secondary-subtle)
}

.form-wrapper {
    width: var(--width-narrow);
    height: var(--height);
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.5);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-banner {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    text-align: center;
}

.form-wrapper .links-wrapper {
    flex: 0;
}

.form-banner .links-wrapper .link {
    padding: 1rem;
    width: 200px;
}

.form-wrapper form {
    background-color: var(--color-bg);
    width: 100%;
    height: 50%;
    padding: 20%;
}

.form-wrapper .form-row {
    justify-content: end;
}

.content-wrapper {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: var(--height);
    width: var(--width-narrow);
    background-color: var(--color-bg);
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.5);
}

header {
    padding: .5rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.user {
    width: 100%;
    max-width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    gap: 1rem;
    background-color: var(--color-primary-subtle);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav {
    justify-self: flex-end;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 2rem;
}

nav::before {
    content: '';
    display: block;
    width: 1px;
    height: 2rem;
    background-color: var(--color-border);
}

.user a {
    text-wrap: nowrap;
    color: var(--color-text);
}

.user a::after {
    background-color: var(--color-text);
}

.user .profile-circle {
    height: 72px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    border-radius: 50%;
    border: 2px solid var(--color-border-bold);
}

.user .profile-circle p {
    font-size: 1.5rem;
    font-weight: 500;
}

.table-wrapper {
    width: 100%;
    height: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.table-wrapper h1 {
    margin-bottom: 1rem;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-wrapper table tr {
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    height: 20%;
}

.table-wrapper table tr td {
    padding: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-wrapper table tr td:last-child {
    width: 25%;
}

.table-wrapper table tr td form {
    margin-left: auto;
    width: 100%;
}

.table-wrapper table tr td form input[type="submit"] {
    padding: .5rem;
    margin-top: 0;
    background-color: var(--color-red-subtle);
    color: var(--color-text-light);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-wrapper table tr td form input[type="submit"]:hover {
    background-color: var(--color-red);
}

.table-wrapper .button-row {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.table-wrapper .button-row .link{
    flex: 1;
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    border: none;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.pagination-buttons {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
}

.no-friends {
    text-align: center;
}

.about {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--color-bg);
}

.answers {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-secondary);
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

ul {
    margin: .5rem 2rem;
}